.place {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: repeat(2, auto);
  grid-template-areas:
    "title ."
    "title url"
    "title link"
    "image text"
    "image text";
  margin-bottom: 80px;
}

.place:last-child {
  margin-bottom: 92px;
}

@media (max-width: 1023px) {
  .place {
    margin-bottom: 72px;
    column-gap: 28px;
  }
  .place:last-child {
    margin-bottom: 88px;
  }
}

@media (max-width: 701px) {
  .place {
    grid-template-columns: repeat(1, auto);
    margin-bottom: 48px;
    grid-template-areas:
      "title"
      "image"
      "text";
  }
  .place:last-child {
    margin-bottom: 64px;
  }
}
